.card {
  border-radius: 15px;
  background-color: rgba(58, 210, 221, 0.503);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 300px;
  padding: 10px 5px;
}

.card_degrees {
  margin: 5px;
  font-size: 40px;
  color: black;
}
.card_img {
  display: flex;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.card_description {
  font-size: 15px;
  text-transform: uppercase;
}
